.authWrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.authImgWrapper {
  width: 60%;
  height: 100vh;
}
.authFormWrapper {
  width: 40%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #f6f7f8;
}
.authForm {
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}
